@model JosephGuadagno.Broadcasting.Web.Models.ScheduledItemViewModel
@{
    ViewData["Title"] = "Schedule a New Item";
}
@section Scripts
{
    <script src="/js/schedules.edit.js"></script>    
}
<h1>Schedule a new item</h1>
<p class="lead">
    The details around the schedule.
</p>
<form asp-action="Add">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="ItemTableName" class="form-label">Table</label>
        <select asp-for="ItemTableName" class="form-select" aria-label="Select table name">
            <option selected>Select Table</option>
            <option value="Engagements">Engagements</option>
            <option value="Talks">Talks</option>
            <option value="SyndicationFeed">Syndication Feed</option>
            <option value="YouTube">YouTube</option>
        </select>
        <span asp-validation-for="ItemTableName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ItemPrimaryKey" class="form-label">Primary Key</label>
        <input asp-for="ItemPrimaryKey" type="number" class="form-control" />
        <span asp-validation-for="ItemPrimaryKey" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SendOnDateTime" class="form-label">Send on Date/Time</label>
        <input asp-for="SendOnDateTime" type="datetime-local" class="form-control" />
        <span asp-validation-for="SendOnDateTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Message" class="form-label">Message</label>
        <input asp-for="Message" type="text" class="form-control" />
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MessageSentOn" class="form-label">Sent on Date/Time</label>
        <input asp-for="MessageSentOn" type="datetime-local" class="form-control" />
        <span asp-validation-for="MessageSentOn" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MessageSent" class="form-label">Was Sent</label>
        <input asp-for="MessageSent" type="checkbox" class="form-check-input" />
        <span asp-validation-for="MessageSent" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-floppy me-2"></i>Save
    </button>
</form>
