@model JosephGuadagno.Broadcasting.Domain.Models.Engagement

@{
    ViewData["Title"] = "Delete Engagement";
}
<div class="alert alert-danger" role="alert">
    Failed to delete the requested engagement!
</div>