@model JosephGuadagno.Broadcasting.Web.Models.EngagementViewModel

@{
    ViewData["Title"] = "Delete Engagement";
}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <i class="bi bi-exclamation-circle-fill text-danger"></i>
    Failed to delete the requested engagement!
</div>
