@model JosephGuadagno.Broadcasting.Web.Models.LinkedIn.SavedTokenInfo

@{
ViewData["Title"] = "LinkedIn Token Refresh";
}

<div class="text-center">
    <h1 class="display-4">LinkedIn Token Refresh</h1>
    <dl class="row">
        <dt class="col-sm-2">
            <label for="AccessToken">Access Token</label>
        </dt>
        <dd class="col-sm-10">
            <input type="text" id="AccessToken" name="AccessToken" value="@Model.AccessToken" class="form-control" />
        </dd>
        <dt class="col-sm-2">
            <label for="ExpiresIn">Expires In</label>
        </dt>
        <dd class="col-sm-10">
            <input type="text" id="ExpiresIn" name="ExpiresIn" value="@Model.ExpiresOn" class="form-control" />
        </dd>
        <dt class="col-sm-2">
            <label for="ExpiresIn">Secret Name</label>
        </dt>
        <dd class="col-sm-10">
            <input type="text" id="Secret Name" name="Secret Name" value="@Model.KeyVaultSecretName" class="form-control" />
        </dd>
    </dl>
</div>
<a asp-controller="LinkedIn" asp-action="RefreshToken" class="btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
    </svg> Refresh Token
</a>