<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\jjgnet-functions-internal-nlog.log"
      internalLogLevel="Debug" >

    <variable name="logDirectory" value="${currentdir}${dir-separator}logs${dir-separator}" />
    <extensions>
        <add assembly="NLog.Extensions.Logging"/>
        <add assembly="Microsoft.ApplicationInsights.NLogTarget" /> 
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File" name="file-everything" fileName="${logDirectory}${shortdate}-everything.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target xsi:type="File" name="file-host" fileName="${logDirectory}${shortdate}-host.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target xsi:type="File" name="file-just-mine" fileName="${logDirectory}${shortdate}-just-mine.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
            <instrumentationKey>${configsetting:item=Values.APPINSIGHTS_INSTRUMENTATIONKEY}</instrumentationKey>	<!-- Only required if not using ApplicationInsights.config -->
            <contextproperty name="threadid" layout="${threadid}" />
        </target>
        
        <target xsi:type="Console" name="logconsole"
                layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="file-everything,logconsole" />
        <logger name="Host.*" minlevel="Trace" writeTo="file-host" />
        <logger name="JosephGuadagno.Broadcasting.*" minlevel="Trace" writeTo="file-just-mine" />
        <logger name="Function.*" minlevel="Trace" writeTo="file-just-mine" />

        <logger name="*" minlevel="Trace" writeTo="aiTarget" />
        
        <logger name="Microsoft.*" maxLevel="Info" writeTo="" final="true" />
    </rules>
</nlog>