@model JosephGuadagno.Broadcasting.Web.Models.TalkViewModel

@{
    ViewData["Title"] = "Add New Engagement";
}
<h1>Add a New Talk</h1>
<p class="lead">
    Enter all of the awesome details about the talk.
</p>

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="EngagementId" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UrlForConferenceTalk" class="form-label">Url for Conference Talk</label>
        <input asp-for="UrlForConferenceTalk" type="url" class="form-control" />
        <span asp-validation-for="UrlForConferenceTalk" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UrlForTalk" class="form-label">Url for Talk</label>
        <input asp-for="UrlForTalk" type="url" class="form-control" />
        <span asp-validation-for="UrlForTalk" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="StartDateTime" class="form-label">Start Date/Time</label>
        <input asp-for="StartDateTime" type="datetime-local" class="form-control" />
        <span asp-validation-for="StartDateTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="EndDateTime" class="form-label">End Date/Time</label>
        <input asp-for="EndDateTime" type="datetime-local" class="form-control" />
        <span asp-validation-for="EndDateTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TalkLocation" class="form-label">Talk Location</label>
        <input asp-for="TalkLocation" type="text" class="form-control" />
        <span asp-validation-for="TalkLocation" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comments" class="form-label">Comments</label>
        <input asp-for="Comments" type="text" class="form-control" />
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-floppy me-2"></i>Save
    </button>
</form>
