@{
    ViewData["Title"] = "Delete Talk";
}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <i class="bi bi-exclamation-circle-fill text-danger me-2"></i>Failed to delete the requested talk!
</div>
